*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;

}
.heading, .by{
    text-align: center;
    padding: 0.5rem;
}
.card-area{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 8rem;
    justify-content: space-between;
    
}
h3{
  margin-top: 5px;
  text-align: center;
  padding: .5rem;
}
p{
  text-align: center;
  padding: .5rem;
  font-size: .8rem;
}
.card{
  background-color: #F8FFF8;
  height: 320px;
  margin-bottom: 15px; 
  width:250px; 
  overflow: hidden;
  object-position: center;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); 
}

.img{
  width: 120%;  
  margin-left: -9.2%;
}


